body {
    font-family: sans-serif;
    background-color: ;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{ background-color : white ;
           BACKGROUND-COLOR : blue; 
             color : black; 
             font-size:25px; 
             font-size : 20px ;
            font-size : 18px ;
            } 
